/* Common styles for Répondez */

body {
	padding-top:50px;

	@media (max-width: 979px) {
		padding-top:0;
	}

	-webkit-font-smoothing:antialiased;
}

form {
	small {
		float:right;
		color:#aaa;
	}
}