/* Lists */

ul.list-table {
	list-style-type:none;
	margin:20px 0 0 0; padding:0;
	li {
		border-top:1px solid #ddd;
		padding:10px 0px 17px 0px;

		.name {
			font-weight:bold;
		}
	
		&.header {
			font-style:italic;
			color:#aaa;
			font-size:16px;
			border-top:0px;
		}

		.response {
			.btn {
				width:100%;
				padding:20px 0px;
				font-size:32px;
				color:#bbb;
				font-weight:bold;
			}
	
			@media (max-width: 767px) {
				margin-top:20px;
			}

			small {
				margin-top:6px;
				display:block;

				color:#666;
				text-transform:uppercase;
				letter-spacing:.1em;
			}
		}

		.tools {
			margin-top:12px;
		}

		h3 {
			margin-top:0;
			font-weight:normal;
		}
	

	}

	&.big {
		li {
			padding:20px 0px;
		}
	}
}

#invitationStatus {
	text-align:center;
	margin-top:20px;

	div.status {
		display:inline-block;
		text-align:center;
		padding:5px 10px;
		border-right:1px solid #ddd;
		border-left:1px solid white;
		margin-right:-4px;
		min-width:55px;

		&:first-child {
			border-left:none;
		}
		&:last-child {
			border-right:none;
		}

		.num {
			font-weight:bold;
			font-size:25px;
		}
		small {
			display:block;
			text-transform:uppercase;
			font-size:12px;
			font-weight:bold;
		}
	}
}